.create-post-page {
    margin: 100px 20px 20px 20px;
    display: flex;
}

.create-post-page img {
    flex: 7;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
}

.create-form {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form-group {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.create-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.create-input {
    font-size: 30px;
    border: none;
    padding: 20px;
    outline: none;
}

.create-text {
    font-size: 20px;
    width: 300px;
}

.create-submit {
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: teal;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.create-submit:active {
    transform:  scale(0.9);
}