.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar-item img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.sidebar-title {
    margin: 10px;
    padding: 5px;
    font-family: 'Varela Round', sans-serif;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
}

.sidebar-list {
    margin-top: 20px;
    list-style: none;
    display: flex;
}

.sidebar-list-item {
    margin: 0 5px;
}

.link {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

.sidebar-social {
    margin-top: 20px;
}

.sidebar-icon {
    font-size: 30px;
    margin: 0 5px;
    cursor: pointer;
}